
<div class="lose plot">
	<h1 class="lose">A girl's soul writhes in agony.</h1>
	<span class="lose source">You stare at the dangling rope, thinking about who you could have saved.</span>
	<span class="lose sink"></span>
</div>
<%= erb :volume %>