
<div class="wallpaper">
		<img class="lose" src="images/game.png" alt="You lost.">
</div>
<div class="lose plot">
	<h1 class="lose">A young girl's soul writhes in pain for eternity.</h1>
	<span class="lose source">You stare at the dangling rope, thinking about who you could have saved.</span>
	<span class="lose sink"></span>
	<%= erb :new_spell %>
</div>