<div class="wallpaper">
	<img src="images/game.jpg" alt="A new game.">
</div>
<div class="new plot">
	<h1 class="new">Bienvenue au Le Pendu.</h1>
	<span class="new source">A criminal has escaped from the gallows. Oh, great witch! Remember your spell and bring him back!</span>
	<span class="new sink"></span>
	<%= erb :new_spell %>
</div>

