
<div class="new plot">
	<h1 class="new">Bienvenue au<br>Le Pendu.</h1>
	<p>Press letters on your keyboard to guess. Javascript recommended. Tested to work with Chrome, Firefox, Edge.</p>
	<span class="new source">A criminal has escaped from the gallows. Oh, great witch! Remember your spell and bring him back!</span>
	<span class="new sink"></span>
</div>
<a id="credits" target="_blank" href="credits.txt">giving credits where it's due</a>
<%= erb :volume %>