<form id="cast-spell" action="/create" method="post">
	<button class="begin" type="submit" value="Cast a spell!">Cast a spell!</button>
</form>
<button class="js" value="Cast a spell!">Cast a spell!</button>