
<div class="nihilism plot">
	<h1 class="nihilism">There is light at the end of the tunnel.</h1>
	<span class="nihilism source">You retreat into a fantasy land and no longer care about reality.</span>
	<span class="nihilism sink"></span>
</div>