<input type="image" class="volume" id="audio" src="images/speaker.svg" alt="Speaker" />
<input type="image" class="volume" id="mute" src="images/mute.svg" alt="Mute" />
<span id="volume-status"><%= session[:muted] %></span>