
<div class="win plot">
	<h1 class="win">There is always hope.</h1>
	<span class="win source">Thanks to you, justice has been served. I can now rest in peace.</span>
	<span class="win sink"></span>
</div>
<%= erb :volume %>