/* Common to all views */

.fluid-container {
	background-color: #1f1e19;
}

.wallpaper {
	width: calc(100vh * 4/7);
	margin: 0 auto;
}

img {
	height:100vh;
}

.begin {
	position: fixed;
	top: 90vh;
	left: calc(50vw + (100vh * 4/7) * 0.45 - 15rem);
	height: 2rem;
	width: 15rem;
	background-color: transparent;
	border: none;
	color: #cc2233;
	font-size: 2rem;
	filter: drop-shadow(0.5px 0.5px 0.5px #ddcccc) 
					drop-shadow(-0.5px -0.5px 0.5px #ddcccc) 
					drop-shadow(0.5px -0.5px 0.5px #ddcccc) 
					drop-shadow(-0.5px 0.5px 0.5px #ddcccc);
}

.source {
	display: none;
}

h1 {
	font-family: Garamond, serif;
	font-weight: bold;
}

.sink {
	font-family: 'Lucida Console', Monaco, monospace;
}

/* New */

h1.new {
	color: #958979;
}

div.plot.new {
	position: absolute;
	top: 50vh;
	left: calc(50vw - (100vh * 4/7) * 0.45);
	background-color: #2a2924;
	width: calc((100vh * 4/7) * 0.9);
	height: 48vh;
	padding: 1rem;
	border-style: double;
	border-color: #c9bcac;
}

.sink.new {
	color: #6a6767;
}

/* Win */

h1.win {
	color: #000000;
}

div.plot.win {
	position: absolute;
	top: 8vh;
	left: calc(50vw - (100vh * 4/7) * 0.35);
	background-color: transparent;
	width: calc((100vh * 4/7) * 0.7);
	height: 48vh;
	padding: 1rem;
	border: none;
}

.sink.win {
	color: #000000;
}

/* Lose */

img.lose {
	filter: blur(1px) brightness(0.7) contrast(1.5);

}

h1.lose {
	color: #ff3333;
	filter: drop-shadow(1px 1px 1px #191814) 
					drop-shadow(-1px -1px 1px #191814) 
					drop-shadow(1px -1px 1px #191814) 
					drop-shadow(-1px 1px 1px #191814);
}

div.plot.lose {
	position: absolute;
	top: 45vh;
	left: calc(50vw - (100vh * 4/7) * 0.35);
	background-color: transparent;
	width: calc((100vh * 4/7) * 0.7);
	height: 48vh;
	padding: 1rem;
	border: none;
}

.sink.lose {
	color: #ffffff;
}

/* Nihilism */

h1.nihilism {
	color: #ffffff;
	filter: drop-shadow(1px 1px 1px #000000) 
					drop-shadow(-1px -1px 1px #000000) 
					drop-shadow(1px -1px 1px #000000) 
					drop-shadow(-1px 1px 1px #000000);
}

div.plot.nihilism {
	position: absolute;
	top: 45vh;
	left: calc(50vw - (100vh * 4/7) * 0.35);
	background-color: transparent;
	width: calc((100vh * 4/7) * 0.7);
	height: 48vh;
	padding: 1rem;
	border: none;
}

.sink.nihilism {
	color: #ffffff;
	filter: drop-shadow(1px 1px 1px #cccccc) 
					drop-shadow(-1px -1px 1px #000000) 
					drop-shadow(1px -1px 1px #cccccc) 
					drop-shadow(-1px 1px 1px #cccccc);
}

/* Game */
.hang {
	position: absolute;
	top : 9.3vh;
	left: calc(50vw - (100vh * 4/7) * 0.21);
	height: calc((440/1400) * 100vh);
}

.crows {
	position: absolute;
	top : 1.05vh;
	left: calc(50vw - (100vh * 4/7) * 0.23);
	height: calc((113/1400) * 100vh);
}

.bubble {
	position: absolute;
	top : 23vh;
	left: calc(50vw - (100vh * 4/7) * 0.075);
	height: calc((250/1400) * 100vh);
	opacity: 0.65;
}

.word {
	position: absolute;
	top : 70vh;
	left: calc(50vw - (100vh * 4/7) * 0.485);
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 2.3vh;
	color: #c8bcac;
	letter-spacing: 0.7em;
}

.shadow {
	position: absolute;
	top : 98vh;
	left: calc(50vw - (100vh * 4/7) * 0.485);
	height: 5em;
	font-size: 2.3vh;
	font-family: 'Lucida Console', Monaco, monospace;
	color: #1f1e19;
	letter-spacing: 0.7em;
	transform: skewX(-20deg) translateX(-4.9em) scaleY(6);
	filter: blur(0.5px);
}